.cuadro {
    width: 2rem;
    height: 2rem;
}
.cuadro_activo{
    background-color: blue;
}

.cuadro_inactivo:hover {
    background-color: blue;
}
.cuadro_activo:hover {
    background-color: white !important;
}

.imagen {
    width: 15rem;
    height: 15rem;
}