<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

</head>
<body>
    <div class="container mt-5 ">
        <h1 class="text-success text-center fw-bold">RECONOCIMIENTO DE NUMEROS</h1>
    </div>
    <div class="container border shadow mt-5">
        <div class="row p-5">
            <div class="col-6 d-flex flex-column align-items-center justify-content-center">
                <h1 class="text-primary">Dibujar patrón</h1>
                <div class="row border p-3 d-flex flex-column align-items-center justify-content-center">
                    <div class="col-12 d-flex flex-row mb-2">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                    </div>
                    <div class="col-12 d-flex flex-row mb-2">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                    </div>
                    <div class="col-12 d-flex flex-row mb-2">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                    </div>
                    <div class="col-12 d-flex flex-row mb-2">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                    </div>
                    <div class="col-12 d-flex flex-row mb-2">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                    </div>
                    <div class="col-12 d-flex flex-row mb-2">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                    </div>
                    <div class="col-12 d-flex flex-row mb-2">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                        <input type="checkbox" class="boton m-1 cuadro form-check-input">
                    </div>
                </div>
                <form action="/enviar" method="POST">
                    <input text="hidden" name="datos" class="" id="valorpatron">
                    <input value="Enviar" id="botoncomprobar" type="submit" class="my-2 btn btn-primary"></input>
                </form>
            </div>
            <div class="col-6 d-flex flex-column align-items-center justify-content-center">
                <h1 class="text-primary">El número es: {{ datos }}</h1>
                <form action="/clear" method="POST">
                    <input value="Limpiar" type="submit" class="my-2 btn btn-primary"></input>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>
</html>